html {
  scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}
* {
    box-sizing: border-box;
}
.header {
    background-color: #DDA0DD;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-link {
    padding: 0 15px;
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    color: white;
    transition: 0.3s;
}
.nav-link:hover {
    color: #DCDCDC;
}
.main {
    margin-bottom: auto;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section {
    width: 50%;
    padding: 10px;
}
.section-profile {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #4B0082;
}
.section-profile-logo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.section-item {
    position: relative;
    margin-bottom: 10px;
}
.section-item a {
    text-decoration: none ;
    color: #4B0082;
    transition: color 0.5s;
}
.section-item a:hover {
    color: #4d2323;
}
.pre {
    padding: 0;
    margin: -20px 0;
}
.footer {
    background-color: #DDA0DD;
    padding: 20px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #fff;
}
.rss {
    width: 121px;
    height: 45px;
    background-image: url(./assets/rs-school-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
@media (max-width: 1440px) {
    .container {
        padding: 0 20px;
    }
}
@media (max-width: 768px) {
    .nav-list {
        flex-direction:column;
    }
    .nav-link {
        line-height: 30px;
    }
    .section {
        width: 100%;
    }
    .section-profile {
        flex-direction: column;
        align-items: center;
    }
    .footer-container {
        flex-direction: column;
        align-items: center; 
    }
}
